.hiddenLetter {
    padding: 5px;
    opacity: 0;
}

body {
    background: rgb(70, 52, 110);
    color: rgb(220, 219, 235);
}

.endMessage {
    color: red;
    font-size: 45px;
    display: flex;
    justify-content: center;
}

.hiddenBox {
    margin: 10px;
    padding-bottom: 2px;
    color: rgb(70, 52, 110);
    border-bottom: 2px solid rgb(220, 219, 235);
}

.foundLetter {
    padding: 5px;
    color: rgb(220, 219, 235);
}

h1, h3, footer, .guessPhrase, #availLetters {
    display: flex;
    justify-content: center;
    list-style: none;
}

.timer {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

canvas {
    margin-left: 27%;
}

.score {
    font-size: 24px;
}